@import "tailwindcss";

@keyframes loadingBar {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-loading-bar {
  width: 50%;
  animation: loadingBar 5s linear forwards;
}

