
body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: rgb(109, 106, 106);
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2),
}
h2{
    text-align: center;
}
input{
    width: 100%;
    padding: 10px;
   margin-bottom: 10px;
   box-sizing: border-box;
}
button{
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button{
    background: #0056b3;
}
ul{
    margin-top: 20px;
    padding: 20px;
}
li{
    margin-bottom: 8px;
}
